<%- include('partials/header'); -%>

<head>
    <title>
        Dashboard - Spark Class Management
    </title>
</head>

<div class="container">
    <div class="jumbotron jumbotron-fluid ">
        <div class="container">
            <h1 class="display-4">All Student</h1>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/admin/dashboard/new" role="button">New Student Registration</a>
            </p>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>